*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
/* 
Hosting Account ID:	favourbliss-001
First Website Root Folder Name:	site1
Hosting Plan Name:	W60-US
Please Record The Following FTP Infomation:
FTP Address :	FTP.SITE4NOW.NET
FTP Username :	favourbliss-001
FTP Password :	(same as your control panel password)
FTP Directory:	\
*/

.showcase {
    width: 100%;
    height: 40vh;
    background: #000;
    place-items: center;
display: grid;
}
.showcase h2 {
    color: #fff;
    font-size: 70px;
    font-weight: 100;
    font-family: Poppins;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 2%;
}

form {
width: 60%;
height: 60vh;
margin: 5% 20%;
    background: #000;
    place-items: center;
    display: grid;
}
form > h3 {
    color: #fff;
    font-size: 80px;
    font-weight: 100;
}

footer {
background: #000;
place-items: center;
display: grid;
}
footer p {
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
}
input[type="text"], input[type="email"], textarea {
    width: 70%;
    background: none;
    border: 1px solid #fff;
    outline: none;
    font-size: 20px;
    padding: 5px 4px;
    color: #fff;
}
input[type="submit"] {
    width: 70%;
    height: 40px;
    background: green;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
}

